<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fila de Atendimento</title>
    <link rel="stylesheet" href="\static\css\styles_geral.css">
    <link rel="stylesheet" href="\static\css\styles_fila.css">
</head>
<body>
    <div id="containerTabelas">
    <table id="esperaTable">
        <thead>
         <tr>
            <th>Em espera</th>
         </tr>
        </thead>
    <tbody></tbody>
    </table>
    <table id="atendimentoTable">
        <thead>
         <tr>
            <th>Em atendimento</th>
         </tr>
        </thead>
    <tbody></tbody>
    </table>
</div>
    <script src="\static\js\script_fila.js"></script>
    <script src="\static\js\script_geral.js"></script>
</body>
</html>